{% extends "venues/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row" id="mycontent-template">
    <div class="col-md-4" id="hp_jstree"></div>
    <div class="col-md-8" id="hp_events">
        <div id="ajax-spinner" style="display:none;">
            <img src="{% static 'venues/images/ajax-loader.gif' %}" alt="Loading" />
        </div>
        <div id="hp_events_table"></div>
    </div>
</div>

<script src="{% static 'venues/js/hp_alter.js' %}"></script>
<script src="{% static 'venues/js/hp_jstree.js' %}"></script>
<script src="{% static 'venues/js/hp_event_table.js' %}"></script>

<!-- Add Match Modal -->
<div class="modal fade" id="AddMatchModal" tabindex="-1" role="dialog" aria-labelledby="AddMatchLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Add New Match
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form role="form" id="add-match-form">
                  <div class="form-group">
                    <label for="InputMatchDate">Match Date</label>
                    <input type="date" class="form-control" id="InputMatchDate" placeholder="Enter Match Date"/>
                  </div>
                  <div class="form-group">
                    <label for="InputMatchTime">Match Time</label>
                    <input type="time" class="form-control" id="InputMatchTime" placeholder="Enter Match Time"/>
                  </div>
                  <div class="form-group">
                    <label for="InputMatchTeamOne">Team One</label>
                    <select class="form-control" id="InputMatchTeamOne" placeholder="Enter Team One"> <select/>
                  </div>
                  <div class="form-group">
                    <label for="InputMatchTeamTwo">Team Two</label>
                    <select class="form-control" id="InputMatchTeamTwo" placeholder="Enter Team Two"> <select/>
                  </div>
                  <div class="form-group">
                    <label for="InputMatchTeamOneScore">Team One Score</label>
                    <input type="number" class="form-control" id="InputMatchTeamOneScore" placeholder="Enter Team One Score (if match finished)"/>
                  </div>
                  <div class="form-group">
                    <label for="InputMatchTeamTwoScore">Team Two Score</label>
                    <input type="number" class="form-control" id="InputMatchTeamTwoScore" placeholder="Enter Team Two Score (if match finished)"/>
                  </div>

                  <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div><!-- End Add Match Modal -->

<!-- Delete Match Modal -->
<div class="modal fade" id="DeleteMatchModal" tabindex="-1" role="dialog" aria-labelledby="DeleteMatchLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="DeleteMatchLabel">
                    Delete Match
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form" id="delete-match-form">

                  <div class="form-group">
                    <label for="DeleteMatchDate">Match Date</label>
                    <input type="text" class="form-control" id="DeleteMatchDate" readonly/>
                  </div>
                  <div class="form-group">
                    <label for="DeleteMatchTime">Match Time</label>
                    <input type="text" class="form-control" id="DeleteMatchTime" readonly/>
                  </div>
                  <div class="form-group">
                    <label for="DeleteMatchTeamOne">Team One</label>
                    <input type="text" class="form-control" id="DeleteMatchTeamOne" readonly>
                  </div>
                  <div class="form-group">
                    <label for="DeleteMatchTeamTwo">Team Two</label>
                    <input type="text" class="form-control" id="DeleteMatchTeamTwo" readonly>
                  </div>
                  <div class="form-group">
                    <label for="DeleteMatchTeamOneScore">Team One Score</label>
                    <input type="text" class="form-control" id="DeleteMatchTeamOneScore" readonly/>
                  </div>
                  <div class="form-group">
                    <label for="DeleteMatchTeamTwoScore">Team Two Score</label>
                    <input type="text" class="form-control" id="DeleteMatchTeamTwoScore" readonly/>
                  </div>

                  <input type="hidden" class="form-control" id="DeleteMatchID" hidden="true" readonly/>

                  <button type="submit" class="btn btn-default">Delete</button>
                </form>

            </div>
        </div>
    </div>
</div><!-- End Delete Match Modal -->

<!-- Edit Match Modal -->
<div class="modal fade" id="EditMatchModal" tabindex="-1" role="dialog" aria-labelledby="EditMatchLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="EditMatchLabel">
                    Edit Match
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form role="form" id="edit-match-form">

                  <div class="form-group">
                    <label for="EditMatchDate">Match Date</label>
                    <input type="date" class="form-control" id="EditMatchDate" placeholder="Enter Match Date"/>
                  </div>
                  <div class="form-group">
                    <label for="EditMatchTime">Match Time</label>
                    <input type="time" class="form-control" id="EditMatchTime" placeholder="Enter Match Time"/>
                  </div>
                  <div class="form-group">
                    <label for="EditMatchTeamOne">Team One</label>
                    <select class="form-control" id="EditMatchTeamOne" placeholder="Enter Team One"> <select/>
                  </div>
                  <div class="form-group">
                    <label for="EditMatchTeamTwo">Team Two</label>
                    <select class="form-control" id="EditMatchTeamTwo" placeholder="Enter Team Two"> <select/>
                  </div>
                  <div class="form-group">
                    <label for="EditMatchTeamOneScore">Team One Score</label>
                    <input type="number" class="form-control" id="EditMatchTeamOneScore" placeholder="Enter Team One Score (if match finished)"/>
                  </div>
                  <div class="form-group">
                    <label for="EditMatchTeamTwoScore">Team Two Score</label>
                    <input type="number" class="form-control" id="EditMatchTeamTwoScore" placeholder="Enter Team Two Score (if match finished)"/>
                  </div>
                  <input type="hidden" class="form-control" id="EditMatchID" hidden="true" readonly/>

                  <button type="submit" class="btn btn-default">Update</button>
                </form>

            </div>
        </div>
    </div>
</div><!-- End Edit Event Modal -->

<!-- resultModal container-->
<div class="modal fade" id="resultModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="response_type">Response</h4>
            </div>
            <div class="modal-body">
                <p id="modal-message"></p>
            </div>
            <div class="modal-footer">
                <button id="wmh-button-type" class="btn pull-right" data-dismiss="modal"> OK</button>
            </div>
        </div>

    </div>
</div> <!-- End resultModal container-->


<script src="{% static 'venues/js/ho_alter_submit.js' %}"></script>

{% endblock content %}
